doctype html
html(lang="en")

	head
		title Qvazars portfolio
		link(rel="stylesheet" href="style/main.css")

	body

		header
			| I'm <strong>Sebastian J&oslash;rgensen</strong>,<br/>and I'm a <strong>full-stack web developer</strong>.
		nav
			section
				header Client
				ul
					li: a(href="#html-article")
						header HTML
						span
					li: a(href="#css-article")
						header CSS
						span Colourizing and stylizing
					li: a(href="#js-article")
						header JavaScript
						span <strong>Performant</strong> interaction and computation with <strong>modern practices</strong>.
					li: a(href="#build-article")
						header Building
						span Code that can run anywhere.
			section
				header Server
				ul
					li: a(href="#rest-article")
						header REST
						span APIs that <strong>scale</strong>.
					li: a(href="#language-article")
						header C#, Java, JavaScript...
						span The right tool for the job.
					li: a(href="#db-article")
						header Databases
						span <strong>Relational</strong> and <strong>document</strong>-based.
					li: a(href="#serving-article")
						header Serving
						span IIS, Apache, Node...
			section
				header Examples
				ul
					li: a(href="#rest-article")
						header REST
						span APIs that <strong>scale</strong>.
					li: a(href="#language-article")
						header C#, Java, JavaScript...
						span The right tool for the job.
					li: a(href="#db-article")
						header Databases
						span <strong>Relational</strong> and <strong>document</strong>-based.
					li: a(href="#serving-article")
						header Serving
						span IIS, Apache, Node...

		main
			article#html-article
				header <strong>H</strong>